* {
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 800px){
/*Desktop Version*/
#active{
    text-decoration: underline;
}

header{
    height: 100px;
    background: #ffffff;
    width: 100%;
    z-index: 12;
    position: fixed;
    border-bottom: thin solid #000000;
}
.top{
    float: left;
    line-height: 100px;
}
.top a{
    float: left;
    margin-left: 10px;
    width: 70px;
    height: 70px;
}
img[alt="shop_logo"]{
    margin-top: 10px;
    width: 70px;
    height: 70px;
}
nav{
    float: center;
    line-height: 100px;
    margin-left: 10px;
}

nav a{
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    margin: 0 10px;
    color: #000000;
}
nav a:hover{
    color: #6471FF;
}
nav img:hover{
    width: 30px;
    height: 30px;
    margin-top: 35px;
}
#search {
    float: right;
    margin-right: 10px;
    margin-top: 40px;
    line-height: 20px;
}
img[alt="trolley_icon"]{
    float: right;
    margin-top: 40px;
    margin-right: 20px;
    width: 20px;
    height: 20px;
}
.content-area{
    width: 100%;
    position: relative;
    top: 80px;
    height: 1500px;
}
.content-area h2{
    font-family: monospace;
    letter-spacing: 4px;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 30px;
    margin: 0; 
    margin-left: 10px;
}
.content-area p{
    padding: 2% 0;
    font-family: merienda;
    line-height: 30px;
}
.products{
    display: flex;
    flex-wrap: wrap;
}

.products div{
    margin-bottom: 25px;
    text-align: center;
    float: left;
    width: 30%;
    padding: 20px;
    padding-top: 20px;
}

.products div img{
    height: 350px;
    width: 350px;
}

.products div img:hover{
    opacity: 70%;
}

.products input{
    width: 150px;
    margin: 5px;
    border-radius: 3px;
}

.products input:hover{
    opacity: 70%;
}

.products div p{
    font-family: merienda;
    margin-top: 0px;
}
}

@media screen and (max-width: 1024px){
/*iPad Version*/
    #active{
        text-decoration: underline;
    }
    
    header{
        height: 100px;
        background: #ffffff;
        width: 100%;
        z-index: 12;
        position: fixed;
        border-bottom: thin solid #000000;
    }
    .top{
        float: left;
        line-height: 100px;
    }
    .top a{
        float: left;
        margin-left: 10px;
        width: 70px;
        height: 70px;
    }
    img[alt="shop_logo"]{
        margin-top: 10px;
        width: 70px;
        height: 70px;
    }
    nav{
        float: center;
        line-height: 100px;
        margin-left: 10px;
    }
    
    nav a{
        text-decoration: none;
        font-family: monospace;
        font-size: 20px;
        text-align: center;
        margin: 0 10px;
        color: #000000;
    }
    nav a:hover{
        color: #6471FF;
    }
    nav img:hover{
        width: 30px;
        height: 30px;
        margin-top: 35px;
    }
    #search {
        float: right;
        width: 50px;
        margin-right: 10px;
        margin-top: 40px;
        line-height: 20px;
    }
    img[alt="trolley_icon"]{
        float: right;
        margin-top: 40px;
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }
    .content-area{
        width: 100%;
        position: relative;
        top: 80px;
        height: 1500px;
    }
    .content-area h2{
        font-family: monospace;
        letter-spacing: 4px;
        padding-top: 40px;
        padding-bottom: 30px;
        font-size: 30px;
        margin: 0; 
        margin-left: 10px;
    }
    .content-area p{
        padding: 2% 0;
        font-family: merienda;
        line-height: 30px;
    }
    .products{
        display: flex;
        flex-wrap: wrap;
    }
    
    .products div{
        margin-bottom: 25px;
        text-align: center;
        float: left;
        width: 44%;
        padding: 25px;
        padding-top: 20px;
    }
    
    .products div img{
        height: 350px;
        width: 350px;
    }
    
    .products div img:hover{
        height: 355px;
        width: 355px;
    }
    
    .products input{
        width: 150px;
        margin: 5px;
        border-radius: 3px;
    }
    
    .products input:hover{
        opacity: 70%;
    }
    
    .products div p{
        font-family: merienda;
        margin-top: 0px;
    }
    }


@media screen and (max-width: 812px){
/*iPhone Version*/
        #active{
            text-decoration: underline;
        }
        
        header{
            height: 80px;
            background: #ffffff;
            width: 100%;
            z-index: 12;
            position: fixed;
            border-bottom: thin solid #000000;
        }
        .top{
            float: left;
            line-height: 100px;
        }
        .top a{
            float: left;
            margin-left: 10px;
            width: 50px;
            height: 50px;
        }
        img[alt="shop_logo"]{
            margin-top: 20px;
            width: 40px;
            height: 40px;
        }
        nav{
            float: center;
            line-height: 80px;
            margin-left: 10px;
        }
        
        nav a{
            text-decoration: none;
            font-family: monospace;
            font-size: 15px;
            text-align: center;
            margin: 0 5px;
            color: #000000;
        }
        nav a:hover{
            color: #6471FF;
        }
        nav img:hover{
            width: 30px;
            height: 30px;
            margin-top: 35px;
        }
        #search {
            float: right;
            width: 50px;
            margin-right: 10px;
            margin-top: 30px;
            line-height: 20px;
        }
        img[alt="trolley_icon"]{
            float: right;
            margin-top: 30px;
            margin-right: 10px;
            width: 20px;
            height: 20px;
        }
        .content-area{
            width: 100%;
            position: relative;
            top: 80px;
            height: 1500px;
        }
        .content-area h2{
            font-family: monospace;
            letter-spacing: 4px;
            padding-top: 40px;
            padding-bottom: 30px;
            font-size: 20px;
            margin-left: 10px;
        }
        .content-area p{
            padding: 2% 0;
            font-family: merienda;
            line-height: 30px;
        }
        .products{
            display: flex;
            flex-wrap: wrap;
        }
        
        .products div{
            margin-bottom: 25px;
            text-align: center;
            float: left;
            width: 100%;
            padding: 20px;
            padding-top: 20px;
        }
        
        .products div img{
            height: 350px;
            width: 350px;
        }
        
        .products div img:hover{
            height: 355px;
            width: 355px;
        }
        
        .products input{
            width: 150px;
            margin: 5px;
            border-radius: 3px;
        }
        
        .products input:hover{
            opacity: 70%;
        }
        
        .products div p{
            font-family: merienda;
            margin-top: 10px;
        }
        }




